
.form {
  background-color: rgb(221, 240, 233);
  border:1px solid black;
 
  
}
.agent-form {
  display: flex;

  flex-direction: line;
  flex-wrap: wrap;
  max-width: 100px;
  margin: 0 auto;


 
}

.agent-form label {
  margin-bottom: 10px;
}

.agent-form input,
.agent-form textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.agent-form input[type="file"] {
  padding: 0;
}

.button[type="submit"] {
  padding: 10px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.button[type="submit"]:hover {
  background-color: #45a049;
  cursor:pointer;
  opacity:0.5;
}